html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
    color: #ffffff;
}

#hero-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    padding: 2rem 0;
}

#carouselLoja {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.carousel-inner,
.carousel-item {
    width: 100%;
    height: 100%;
}

    .carousel-item img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

.categoria-bloco {
    background-color: #3a250e;
    border-left: 6px solid #A0522D;
    padding: 2rem 1.5rem;
    color: white;
}

    .categoria-bloco h2 {
        color: #000000;
    }

    .categoria-bloco .card {
        background-color: #ffffff;
        color: #000000;
        border-radius: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        height: 100%; /* Garante altura consistente */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .categoria-bloco .card:hover {
            transform: scale(1.03);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        }

    .categoria-bloco .card-img-top {
        height: 200px;
        object-fit: contain;
        padding: 0.5rem;
    }

    .categoria-bloco .btn-outline-primary {
        background-color: #ffffff;
        color: #3a250e;
        border-color: #ffffff;
        font-weight: 500;
        transition: all 0.3s ease;
    }

        .categoria-bloco .btn-outline-primary:hover {
            background-color: #3a250e;
            color: #ffffff;
            border-color: #ffffff;
        }

.modal-footer {
    display: flex;
    justify-content: center;
}

#produtoModal img {
    width: 100%;
    max-width: 400px; 
    height: 300px; 
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.navbar.bg-dark {
    background-color: #44301b !important;
}