@model DWeb_MVC.Models.Tamanhos

@{
    ViewData["Title"] = "Eliminar Tamanho";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que pretende eliminar este tamanho?</h3>
<div>
    <h4>Tamanhos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar à lista</a>
    </form>
</div>
